---
layout: default
title: About me
permalink: /about/
avatar: false
navigation: true
leaflet: false
visjs: false

---

<section class="hero is-primary is-small">
  <div class="hero-body is-centered">
    <div class="container">
      <h1 class="title">
        {{ site.title }}
      </h1>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li><a href="/about/#experience">Experience</a></li>
          <li><a href="/about/#education">Education</a></li>
          <li><a href="/about/#prix">Prix</a></li>
          <li><a href="/about/#publications">Publications</a></li>
          <li><a href="/assets/pdf/cv.pdf"><i class="fas fa-file-download"></i>&nbsp;CV</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section" id="experience">
  <div class="container">
    <h2 class="title"></i><i class="fas fa-briefcase"></i>  Experience</h2>
  <div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent">
      <div class="tile is-child card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <amp-img src="/assets/img/about/kernix.png" layout="responsive" width="48" height="48" alt="Kernix logo"></amp-img>
                </figure>
              </div>
              <div class="media-content">
                <a class="title is-4">Data scientist</a><br>
                <a class="subtitle is-6" href="https://www.kernix.com/">Kernix</a>
              </div>
            </div>
            <div class="content">
              Develop entire data products and analysis using machine learning tools:
              <ul>
                <li>
                  Prediction models for finance and insurance French companies
                </li>
                <li>
                  Deep learning models for object detection
                </li>
                <li>
                  LSTM model for time series prediction
                </li>
                <li>
                  Recommendation systems
                </li>
                <li>
                  Build interactive dashboards and web apps using <i class="fab fa-js"></i>
                </li>
                <li>
                  Experience with SQL and NoSQL databases (MongoDB, MySQL, Neo4j)
                </li>
              </ul>
              <br>
              {%   assign today = site.time | date: '%s'      %}
              {%   assign start = '20-01-2017 04:00:00' | date: '%s'  %}
              {%   assign secondsSince = today | minus: start     %}
              {%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
              {%   assign daysSince = hoursSince | divided_by: 24  %}
              {%   assign yearsSince = daysSince | divided_by: 365  %}
              {%   assign k = 10   %}
              {%   assign divisor = 365   %}
              {%   assign modulus = daysSince | modulo: 365 | times: k | divided_by: divisor  %}
              <p>Jan 2017 - Present ({{yearsSince}}.{{modulus}} years)</p>
            </div>
          </div>
      </div>
      <div class="tile is-child card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <amp-img src="/assets/img/about/gswai.png" layout="responsive" width="48" height="48" alt="global startup weekend AI"></amp-img>
                </figure>
              </div>
              <div class="media-content">
                <a class="title is-4">Technical expert</a><br>
                <a class="subtitle is-6" href="http://globalswai.co">Global Startup Weekend AI</a>
              </div>
            </div>
            <div class="content">
              <ul>
                <li>
                  Website development using accelerated mobile pages (AMP) and jekyll static site generator
                </li>
                <li>
                  Development of a tweet wall application using mongodb, express, <i class="fab fa-angular"></i> and <i class="fab fa-node"></i>
                </li>
              </ul>
              <br>
              {%   assign today = site.time | date: '%s'      %}
              {%   assign start = '20-05-2018 04:00:00' | date: '%s'  %}
              {%   assign secondsSince = today | minus: start     %}
              {%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
              {%   assign daysSince = hoursSince | divided_by: 24  %}
              {%   assign yearsSince = daysSince | divided_by: 365  %}
              {%   assign k = 10   %}
              {%   assign divisor = 365   %}
              {%   assign modulus = daysSince | modulo: 365 | times: k | divided_by: divisor  %}
              <p>May 2018 - Present ({{yearsSince}}.{{modulus}} years)</p>
            </div>
          </div>
        </div>

    </div>
    <div class="tile is-vertical is-parent">
      <div class="tile is-child card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <amp-img src="/assets/img/about/cityai.png" layout="responsive" width="48" height="48" alt="City AI logo"></amp-img>
                </figure>
              </div>
              <div class="media-content">
                <a class="title is-4">Content expert</a><br>
                <a class="subtitle is-6" href="https://city.ai/">City AI</a>
              </div>
            </div>
            <div class="content">
              <ul>
                <li>
                  Write content about AI from a specialized point of view
                </li>
                <li>
                  Development of an application to collect news in the AI fields and share them with the community
                </li>
                <li>
                  French AI ecosystem mapping using crunchbase API
                </li>
              </ul>
              <br>
              {%   assign today = site.time | date: '%s'      %}
              {%   assign start = '20-05-2018 04:00:00' | date: '%s'  %}
              {%   assign secondsSince = today | minus: start     %}
              {%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
              {%   assign daysSince = hoursSince | divided_by: 24  %}
              {%   assign yearsSince = daysSince | divided_by: 365  %}
              {%   assign k = 10   %}
              {%   assign divisor = 365   %}
              {%   assign modulus = daysSince | modulo: 365 | times: k | divided_by: divisor  %}
              <p>May 2018 - Present ({{yearsSince}}.{{modulus}} years)</p>
            </div>
          </div>


      </div>
      <div class="tile is-child card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <amp-img src="/assets/img/about/cea.png" layout="responsive" 
                    width="48" height="48" alt="cea logo"></amp-img>
                </figure>
              </div>
              <div class="media-content">
                <a class="title is-4" href="http://www.cea.fr/">PhD Physical Chemistry</a><br>
                <a class="subtitle is-6">CEA</a>
              </div>
            </div>
            <div class="content">
              <ul>
                <li>
                  Study of the competition between general and localized corrosion with stochastic numerical modelling.
                </li>
                <li>
                  Statistical Fourier analysis for the used algorithms.
                </li>
                <li>
                  Computer programming using C and CUDA languages.
                </li>
                <li>
                  Visualization of results using Gnuplot / <i class="fab fa-r-project"></i>.
                </li>
                <li>
                  Data analysis using bash, shell, python <i class="fab fa-python"></i>
                </li>
              </ul>
              <br>
              <p>Nov 2013 - Oct 2016 (3 years)</p>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
</section>


<section class="section" id="education">
  <div class="container">
    <h2 class="title"><i class="fas fa-graduation-cap"></i>Education</h2>
    

    <div class="timeline is-centered">
      <header class="timeline-header">
        <span class="tag is-medium is-primary">2016</span>
      </header>
      <div class="timeline-item">
        <div class="timeline-marker is-image is-48x48">
          <amp-img layout="responsive" src="/assets/img/about/upmc.svg" width="48" height="48" alt="logo umpc"></amp-img>
        </div>
        <div class="timeline-content">
          <p class="heading">Université Pierre et Marie Curie</p>
          <p>PhD in <a href="https://tel.archives-ouvertes.fr/tel-01561596" target="_blank">Physical chemistry</a></p>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-primary">2013</span>
      </header>
      <div class="timeline-item">
        <div class="timeline-marker is-image is-48x48">
          <amp-img layout="responsive" src="/assets/img/about/mines_paristech.svg" width="48" height="48" alt="logo mines paristech"></amp-img>
        </div>
        <div class="timeline-content">
          <p class="heading">École Nationale Supérieure des Mines de Paris</p>
          <p>Master in  <a href="https://mapmod.cemef.mines-paristech.fr/" target="_blank">Materials, Processing and Modelling</a></p>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-primary">2012</span>
      </header>
      <div class="timeline-item">
        <div class="timeline-marker is-image is-48x48">
          <amp-img layout="responsive" src="/assets/img/about/enim.svg" width="48" height="48" alt="logo enim"></amp-img>
        </div>
        <div class="timeline-content">
          <p class="heading">École Nationale d’Ingénieurs de Metz</p>
          <p><a href="http://www.enim.fr/" target="_blank">Engineer</a>  + <a href="http://www.lem3.univ-lorraine.fr/mmsp/" target="_blank">Master in Materials and Production</a></p>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-primary">2010</span>
      </header>
      <div class="timeline-item">
        <div class="timeline-marker is-image is-48x48">
          <amp-img layout="responsive" src="/assets/img/about/uis.svg" width="48" height="48" alt="logo uis"></amp-img>
        </div>
        <div class="timeline-content">
          <p class="heading"><a href="http://www.uis.edu.co/" target="_blank">Universidad Industrial de Santander</a></p>
          <p>Engineer in Mechanical Engineering</p>
        </div>
      </div>
      <div class="timeline-header">
        <span class="tag is-medium is-primary">2007</span>
      </div>
    </div>

    
  </div>
</section>

<section class="section" id="prix">
  <div class="container">
    <h2 class="title"><i class="fas fa-star"></i>  Prix</h2>

    <div class="columns is-centered">

      <div class="column is-4">
        <div class="card">
          <div class="card-image is-centered">
            <figure class="image">
              <a href="http://www.robertorocca.org/en/fellowships/fellows15.aspx" target="_blank">
              <amp-img src="/assets/img/about/roberto_rocca.jpg" width="434" height="244" layout="responsive" alt="roberto rocca fellowship program"></amp-img>
              </a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a class="title is-4" href="http://www.robertorocca.org/en/fellowships/fellows15.aspx" target="_blank">Roberto Rocca Fellowship</a>
                <p class="subtitle is-6">2015</p>
              </div>
            </div>

            <div class="content">
              Awarded to exceptional university graduates from developing countries
              to help fund studies towards the Ph.D. degree at a university outside
              his home country
              <br>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <a href="http://artsetsciences.doc-up.info/archives/edition-2014/" target="_blank">
            <figure class="image">
              <amp-img src="/assets/img/about/arts.jpg" width="450" height="300" layout="responsive" alt="concours arts et sciences"></amp-img>
            </figure>
            </a>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a class="title is-4" href="http://artsetsciences.doc-up.info/archives/edition-2014/" target="_blank">Arts et Sciences</a>.
                <p class="subtitle is-6">2014</p>
              </div>
            </div>

            <div class="content">
              Artistic contest related to science, organized by Doctoral
              association of Sorbonne University and UPMC.
              <br>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>





<section class="section hero is-primary" id="communications">
  <div class="container">
    <h2 class="title"><i class="fas fa-microphone-alt"></i>  Communications</h2>

    <div class="columns is-gapless">
      <div class="column is-4">
        <amp-iframe width="200" height="100" sandbox="allow-scripts" 
          layout="responsive" src="/iframes/leaflet-com"></amp-iframe>
      </div> 

      <div class="column">
        <div class="content">
          <ul>
            <li>2016	Oral presentation in WP Nuclear Corrosion EUROCORR 2016
              Montpelier, France (<a href="http://eurocorr.org/EFC+Awards+and+Prizes-p-71440.html" target="_blank"><strong>best presentation award</strong></a>). "Pitting corrosion modelling by means of a stochastic cellular automata based model"
            </li>
            <li>
              2016	Oral presentation CORROSION 2016
              Vancouver, Canada. <p><a href="http://corrosionfp.epubxp.com/i/640839-2016/51"><strong>Corrosion modeling using 3D probabilistic cellular automata based model</strong></a></p>
            </li>
            <li>
              2015	Poster EUROCORR 2015
              Graz, Austria.	"Corrosion modelling by cellular automata"
            </li>
            <li>
              2014	Oral presentation ACRI 2014
              Krakow, Poland. "Overview of cellular automaton models for corrosion"
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="section" id="publications">
  <div class="container">
    <h2 class="title"><i class="fas fa-book-open"></i>  Publications</h2>
    <p>Citations of my articles might be found at <a class="icon" href="{{ site.author.google }}">
          <i class="fab fa-google"></i>
        </a> Google Scholar and 
        <a class="icon" href="{{ site.author.researchgate }}">
          <i class="fab fa-researchgate"></i>
        </a> Research Gate.
        
    </p>
    <br></br>
    <h3 class="subtitle" id="phdthesis">PhD Thesis</h3>
    
    <div class="box">
    
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <amp-img src="/assets/img/about/phd.png" width="64" height="90" alt="phd thesis cristian perez"></amp-img>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <span>Uniform and localized corrosion modelling by means of probabilistic cellular automata</span>
            <br>
            <strong>Cristian Perez Brokate</strong> <small>Université Pierre et Marie Curie - Paris VI, 2016</small> 
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <a class="icon is-small" href="https://tel.archives-ouvertes.fr/tel-01561596"><i class="fas fa-book"></i></a>
            </a>
            <a class="level-item">
              <a class="icon is-small" href="https://tel.archives-ouvertes.fr/tel-01561596/document"><i class="far fa-file-pdf"></i></a>
            </a>
          </div>
        </nav>
      </div>
    </article>
      
    </div>



    <h3 class="subtitle" id="journalarticles">Journal Articles</h3>

    {% for article in site.data.about.articles %}
    <div class="box">
    
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <amp-img src="{{ article.img }}" width="64" height="90" alt="{{ article.title }}"></amp-img>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <span>{{ article.title }}</span>
            <br>
            {{ article.authors }}
            <br>
            <small>{{ article.journal }}</small> <small><i> {{ article.date }}</i></small>
          </p>
        </div>
      </div>
      <div class="media-right">
        <a class="icon is-small" href="{{ article.url }}"><i class="far fa-file-pdf fa-2x"></i></a>
      </div>
    </article>
      
    </div>
    {% endfor %}

    <h3 class="subtitle" id="conferenceproceedings">Conference proceedings</h3>


    {% for article in site.data.about.conference_proceedings %}
    <div class="box">
    
    <article class="media">
      {% if article.img %}
      <figure class="media-left">
        <p class="image is-64x64">
          <amp-img src="{{ article.img }}" width="64" height="90" alt="{{ article.title }}"></amp-img>
        </p>
      </figure>
      {% endif %}
      <div class="media-content">
        <div class="content">
          <p>
            <span>{{ article.title }}</span>
            <br>
            {{ article.authors }}
            <br>
            <small>{{ article.journal }}</small>  <small><i>{{ article.date }}</i></small>
          </p>
        </div>
      </div>
      <div class="media-right">
        <a class="icon is-small" href="{{ article.url }}"><i class="far fa-file-pdf fa-2x"></i></a>
      </div>
    </article>
      
    </div>
    {% endfor %}

  </div>
</section>
