---
layout: default
avatar: true
permalink: /
---

<section class="section">
  <div class="container">
    <h2 class="title">
      What I do:
    </h2>
    <div class="columns is-mobile is-multiline is-horizontal-center">
      <div class="column is-3-desktop is-12-mobile">
        <h3 class="subtitle"><i class="fab fa-python"></i> Data modelling</h3>
        <amp-img src="/assets/img/about/model.svg" alt="data modelling" height="200" width="300" layout="responsive"></amp-img>
        <div class="content">
          <ul>
            <li>
              Regression and classification algorithms for finance and assurance French companies.  
            </li>
            <li>
              Deep learning algorithms for object detection 
            </li>
            <li>
              LSTM models for time series prediction in robotics application
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3-desktop is-12-mobile">
        <h3 class="subtitle"><i class="fas fa-database"></i> Data engineering</h3>
        <amp-img src="/assets/img/about/engineer.svg" alt="data engineer" height="200" width="300" layout="responsive"></amp-img>
        <div class="content">
          <ul>
            <li>
              Collect data from different kinds of sources social networks, APIs, websites.
            </li>
            <li>
              Save large amounts of data coming at high intensity using a differed processing pipeline.
            </li>
            <li>
              SQL and NoSQL database management (mongodb, neo4j, oracle, MySQL, SQLite)
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3-desktop is-12-mobile">
        <h3 class="subtitle"><i class="fas fa-desktop"></i> System management</h3>
        <amp-img src="/assets/img/about/system.svg" alt="system management" height="200" width="300" layout="responsive"></amp-img>
        <div class="content">
          <ul>
            <li>
              Application deployment using docker  <i class="fab fa-docker"></i> container system
            </li>
            <li>
              Cloud computing management using <i class="fab fa-aws"></i>
            </li>
            <li>
              System performance monitoring using influxdb, grafana.
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3-desktop is-12-mobile">
        <h3 class="subtitle"><i class="fas fa-mobile-alt"></i> Visualization</h3>
        <amp-img src="/assets/img/about/visualization.svg" alt="visualization" height="200" width="300" layout="responsive"></amp-img>
        <div class="content">
          <ul>
            <li>
              Interactive dashboards development using javascript libraries such as d3.js, dc.js
            </li>
            <li>
              Web applications using modern frameworks.
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>


<center><a class="button is-primary "  href="{{ site.baseurl | append: '/about/'}}">More about me</a></center>

<section class="section">
<div class="container" id="last_articles">
  <h2 class="title">
    Last articles
  </h2>

<div class="columns is-desktop">
{% for post in site.posts limit: 3 %}
<div class="column is-one-third">
<div class="card">
  {% if post.image %}
  <div class="card-image">
    <a href="{{ post.url }}" target="_blank">
    <figure class="image">
      <amp-img src="{{ post.image }}" alt="{{ post.title }}" height="200" width="300" layout="responsive"></amp-img>
    </figure>
    </a> 
  </div>
  {% endif %}
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <a href="{{ post.url }}" class="title is-4">{{ post.title }}</a>
      </div>
    </div>

    <div class="content">
      {{ post.description }}
      <br>
      <span class="tag">{{ post.date | date: "%b %-d, %Y" }}</span>
    </div>
  </div>
</div>

</div>
{% endfor %}
</div>

<center><a class="button is-primary "  href="{{ site.baseurl | append: '/blog/'}}">More articles at the blog</a></center>
  
</div>
</section>
<section class="section">
  <div class="container" id="last_articles">
    <h2 class="title">
      Technical Stack
    </h2>
    <amp-img width="105" height="193" alt="Technical stack vertical" 
      layout="responsive" src="/assets/img/about/stack-ver.svg" 
      media="(max-width: 768px)"></amp-img>
    <amp-img height="220" alt="Technical stack horizontal" layout="fixed-height" 
      src="/assets/img/about/stack.svg" media="(min-width: 769px)"></amp-img>
  </div>
</section>
