---
layout: default
avatar: true
permalink: /
---
<section class="section">
<div class="container" id="last_articles">
<div class="columns is-desktop">
{% for post in site.posts limit: 3 %}
<div class="column is-one-third">
<div class="card">
  {% if post.image %}
  <div class="card-image">
    <figure class="image">
      <amp-img src="{{ post.image }}" alt="{{ post.title }}" height="200" width="300" layout="responsive"></amp-img>
    </figure>
  </div>
  {% endif %}
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <a href="{{ post.url }}" class="title is-4">{{ post.title }}</a>
      </div>
    </div>

    <div class="content">
      {{ post.description }}
      <br>
      <span class="small">{{ post.date | date: "%b %-d, %Y" }}</span>
    </div>
  </div>
</div>

<!--
<a href="{{ post.url | prepend: site.baseurl }}">🅿️ {{ post.title }} </a>
{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ post.date | date: date_format }}
<br>
{{ post.description }}
<br>
<br>
-->
</div>
{% endfor %}
</div>

<center><a class="button is-primary "  href="{{ site.baseurl | append: '/blog/'}}">More at the blog</a></center>
  
  
</div>
</section>
