---
layout: default
title: About me
description: This is the best place if you want to learn more about Cristian Perez Brokate. I'm a Data Scientist with a PhD in physical chemistry. I made this page as a frontend for my portfolio.
permalink: /about
redirect_from:
  - /about/
navigation: true
leaflet: false
animation: true
visjs: false

---

<amp-animation id="showAnim"
  layout="nodisplay">
  <script type="application/json">
    {
      "duration": "200ms",
      "fill": "both",
      "iterations": "1",
      "direction": "alternate",
      "animations": [{
        "selector": "#scrollToTopButton",
        "keyframes": [{
          "opacity": "1",
          "visibility": "visible"
        }]
      }]
    }
  </script>
</amp-animation>

<amp-animation id="hideAnim"
  layout="nodisplay">
  <script type="application/json">
    {
      "duration": "200ms",
      "fill": "both",
      "iterations": "1",
      "direction": "alternate",
      "animations": [{
        "selector": "#scrollToTopButton",
        "keyframes": [{
          "opacity": "0",
          "visibility": "hidden"
        }]
      }]
    }
  </script>
</amp-animation>

<section class="hero is-primary is-small">
  <div class="hero-body is-centered">
    <div class="container">
      <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start"
                             layout="nodisplay">
      </amp-position-observer>
      <div class="columns is-mobile is-horizontal-center is-multiline">
        <div class="column is-3-desktop is-12-mobile has-text-centered">
          <h1 class="title">
            {{ site.title }}
          </h1>
        </div>
        <div class="column is-4-desktop is-12-mobile has-text-centered">
          <h2 class="subtitle">
            {{ page.description }}
          </h2>
        </div>
      </div>

    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li><a on="tap:experience.scrollTo(duration=500)">Experience</a></li>
          <li><a on="tap:education.scrollTo(duration=500)">Education</a></li>
          <li><a on="tap:prix.scrollTo(duration=500)">Prix</a></li>
          <li><a on="tap:publications.scrollTo(duration=500)">Publications</a></li>
          <li><a href="/assets/pdf/cv.pdf"><i class="fas fa-file-download"></i>&nbsp;CV</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section" id="experience">
  <div class="container">

    <div class="columns is-multiline">

      <div class="column is-6">

        <div class="columns is-multiline">
          <div class="column is-12">
            <h2 class="title"><i class="fas fa-briefcase"></i>  Experience</h2>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/ministere_interieur.png" layout="responsive" width="48" height="48" alt="Ministère de l'interieur"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4" href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/iaflash.html">Entrepreneur d'Intérêt Général</a><br>
                    <a class="subtitle is-6" href="https://www.interieur.gouv.fr">French interior ministry</a>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Entrepreneur d'Intérêt Général is equivalent to the
                    Presidential Innovation Fellows in the US. This program hires
                    Entrepreneurs for a 10 months mission, in order to bring
                    digital transformation in the French Administration and make
                    use of public Data. 
                    <a class="button is-small is-fullwidth" id="readmore-button-eig" on="tap:readmore-button-eig.hide, readmore-text1.toggleVisibility, readmore-text2.toggleVisibility" role="" tabindex=""><i class="fas fa-chevron-down"></i></a>
                  </p>
                  <p id="readmore-text1" hidden="">
                    I'm implementing image recognition algorithms using deep
                    learning for the French national agency for automated offence
                    processing (ANTAI).
                  </p>
                  <p id="readmore-text2" hidden="">
                    The results of the project can be found at <a href="https://iaflash.fr" target="_blank">iaflash.fr</a>
                  </p>
                  <div class="tags has-addons">
                    <span class="tag">Jan 2019 - Nov 2019</span>
                    <span class="tag is-primary">10 months</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/kernix.png" layout="responsive" width="48" height="48" alt="Kernix logo"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4" href="https://www.kernix.com/">Data scientist</a><br>
                    <a class="subtitle is-6" href="https://www.kernix.com/">Kernix</a>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Kernix is an agency that builds personalized digital and data products. I worked with the data team to build entire data products using machine learning tools and visualizations. I had the opportunity to work with clients from diverse fields and develop personalized data products for each one, my main realisations were:
                      <a class="button is-small is-fullwidth" id="readmore-button-kernix" on="tap:readmore-button-kernix.hide, readmore-text-kernix.toggleVisibility" role="" tabindex=""><i class="fas fa-chevron-down"></i></a>
                  </p>
                  <ul id="readmore-text-kernix" hidden="">
                    <li>
                      Prediction models for finance and insurance French companies
                    </li>
                    <li>
                      Implement a deep learning object detection algorithm for a British start-up
                    </li>
                    <li>
                      Develop a movement prediction model for a robot using a LSTM model
                    </li>
                    <li>
                      Create a recommendation system for French bank website
                    </li>
                    <li>
                      Build interactive dashboards and web apps using <i class="fab fa-js"></i>
                    </li>
                  </ul>
                  <div class="tags has-addons">
                    <span class="tag">Jan 2017 - Jan 2019</span>
                    <span class="tag is-primary">2 years</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/cea.jpg" layout="responsive" 
                                                               width="48" height="48" alt="cea logo"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4" href="http://www.cea.fr/">PhD Physical Chemistry</a><br>
                    <a class="subtitle is-6" href="http://www.cea.fr/">CEA</a>
                  </div>
                </div>
                <div class="content">
                  The scientific results of my PhD can be found at <a on="tap:publications.scrollTo(duration=200)" target="_blank">my PhD dissertation</a>, my main tasks were: 
                  <ul> 
                    <li> Study of the competition between general and localized corrosion with stochastic numerical modelling.  </li> 
                    <li> Parallel programming using CUDA language in NVIDIA GPU </li> 
                    <li> Data analysis and visualization using python <i class="fab fa-python"></i>, Gnuplot and R / <i class="fab fa-r-project"></i> </li> 
                  </ul> 
                  <div class="tags has-addons"> 
                    <span class="tag">Nov 2013 - Oct 2016</span> <span class="tag is-primary">3 years</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="column is-6">

        <div class="columns is-multiline">
          <div class="column is-12">

            <h2 class="title"><i class="fas fa-hourglass-end"></i>  Part time</h2>
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/cityai.jpg" layout="responsive" width="48" height="48" alt="City AI logo"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4" href="https://city.ai/paris">Content expert</a><br>
                    <a class="subtitle is-6" href="https://city.ai/">City AI</a>
                  </div>
                </div>
                <div class="content">
                  <p>City AI is a global community that brings practitioners and stakeholders of applied artificial intelligence together. I represent the Paris community regarding the international community of City AI. My main tasks in are:
                    <a class="button is-small is-fullwidth" id="readmore-button-cityai" on="tap:readmore-button-cityai.hide, readmore-text-cityai.toggleVisibility" role="" tabindex=""><i class="fas fa-chevron-down"></i></a>
                  </p>
                  <ul id="readmore-text-cityai" hidden="">
                    <li>
                      Write content about AI from a specialized point of view. The articles can be found <a href="/blog/external">here</a>
                    </li>
                    <li>
                      Development of an application to collect news in the AI fields and share them with the community. The frontend of the application can be found <a href="https://cristianpb.github.io/newsapp">here</a> and the code can be found <a href="https://github.com/cristianpb/newsapp" target="_blank">here</a>.
                    </li>
                    <li>
                      French AI ecosystem mapping using Crunchbase API, which can be found <a href="https://cristianpb.github.io/iframes/dashboard" target="_blank">here</a>.
                    </li>
                    <li>
                      Development of an application that combines content fetched from externals API (Meetup, Crunchbase and Twitter) and an internal Wiki updated by the community. The code for the application can be found <a href="https://github.com/cityai/ecowiki" target="_blank">here</a>.
                    </li>
                  </ul>
                  {%   assign today = site.time | date: '%s'      %}
                  {%   assign start = '01-05-2018 04:00:00' | date: '%s'  %}
                  {%   assign secondsSince = today | minus: start     %}
                  {%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
                  {%   assign daysSince = hoursSince | divided_by: 24  %}
                  {%   assign yearsSince = daysSince | divided_by: 365  %}
                  {%   assign k = 10   %}
                  {%   assign divisor = 365   %}
                  {%   assign modulus = daysSince | modulo: 365 | times: k | divided_by: divisor  %}
                  <div class="tags has-addons">
                    <span class="tag">2018 - Present</span>
                    <span class="tag is-primary">{{yearsSince}}.{{modulus}} years</span>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="column is-12">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/gswai.jpg" layout="responsive" width="48" height="48" alt="global startup weekend AI"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4" href="http://globalswai.co/team">Technical expert</a><br>
                    <a class="subtitle is-6" href="http://globalswai.co">Global Startup Weekend AI</a>
                  </div>
                </div>
                <div class="content">
                  <p>The objective of this movement is to organize simultaneous Startup Weekends around the world focused on artificial intelligence. I worked as a technical expert in the field, my main tasks were:
                  <a class="button is-small is-fullwidth" id="readmore-button-gswai" on="tap:readmore-button-gswai.hide, readmore-text-gswai.toggleVisibility" role="" tabindex=""><i class="fas fa-chevron-down"></i></a>
                  </p>
                  <ul id="readmore-text-gswai" hidden="">
                    <li>
                      Website development of <a href="https://globalswai.co" target="_blank">globalswai.co</a> using accelerated mobile pages (AMP) and jekyll static site generator.
                    </li>
                    <li>
                      Development of this <a href="http://ng-tweet.herokuapp.com/dashboard" target="_blank">tweet wall</a> using mongodb, express, <i class="fab fa-angular"></i> and <i class="fab fa-node"></i>. The code can be found <a href="https://github.com/cristianpb/ngTwitterApp" target="_blank">here</a>.
                    </li>
                    <li>
                      Mentor local participants in artificial intelligence field.
                    </li>
                  </ul>
                  <div class="tags has-addons">
                    <span class="tag">2017 - 2018</span>
                    <span class="tag is-primary">1 year</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/enscp.svg" layout="responsive" width="48" height="48" alt="école nationale supérieure de chimie de paris"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4" href="https://www.chimieparistech.psl.eu/">Substitute teacher</a><br>
                    <a class="subtitle is-6" href="https://www.chimieparistech.psl.eu/">École Nationale Supérieure de Chimie de Paris</a>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Teaching of practical courses on thermodynamics (heat exchangers and centrifugal pumps)
                  </p>
                  <div class="tags has-addons">
                    <span class="tag">2014 - 2016</span>
                    <span class="tag is-primary">2 years</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<button id="scrollToTopButton"
        on="tap:top.scrollTo(duration=200)"
        class="scrollToTop">⌃
</button>

<section class="section" id="education">
  <div class="container">
    <h2 class="title"><i class="fas fa-graduation-cap"></i>Education</h2>
    <center>
    <amp-img width="358" height="858" alt="Technical stack vertical" 
      layout="intrinsic" src="/assets/img/about/timeline-ver.png" 
      media="(max-width: 768px)"></amp-img>
    <amp-img width="739" height="509" alt="Technical stack horizontal" layout="intrinsic" 
      src="/assets/img/about/timeline.png" media="(min-width: 769px)"></amp-img>
    </center>

  </div>
</section>

<section class="section" id="prix">
  <div class="container">
    <h2 class="title"><i class="fas fa-star"></i>  Prix</h2>

    <div class="columns is-centered">

      <div class="column is-4">
        <div class="card">
          <div class="card-image is-centered">
            <figure class="image">
              <a href="http://www.robertorocca.org/en/fellowships/fellows15.aspx" target="_blank">
              <amp-img src="/assets/img/about/roberto_rocca.jpg" width="434" height="244" layout="responsive" alt="roberto rocca fellowship program"></amp-img>
              </a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a class="title is-4" href="http://www.robertorocca.org/en/fellowships/fellows15.aspx" target="_blank">Roberto Rocca Fellowship</a>
                <p class="subtitle is-6">2015</p>
              </div>
            </div>

            <div class="content">
              Awarded to exceptional university graduates from developing countries
              to help fund studies towards the Ph.D. degree at a university outside
              his home country
              <br>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <a href="http://artsetsciences.doc-up.info/archives/edition-2014/" target="_blank">
            <figure class="image">
              <amp-img src="/assets/img/about/arts.jpg" width="450" height="300" layout="responsive" alt="concours arts et sciences"></amp-img>
            </figure>
            </a>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a class="title is-4" href="http://artsetsciences.doc-up.info/archives/edition-2014/" target="_blank">Arts et Sciences</a>.
                <p class="subtitle is-6">2014</p>
              </div>
            </div>

            <div class="content">
              Artistic contest related to science, organized by Doctoral
              association of Sorbonne University and UPMC.
              <br>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>





<section class="section hero is-primary" id="communications">
  <div class="container">
    <h2 class="title"><i class="fas fa-microphone-alt"></i>  Communications</h2>

    <div class="columns is-gapless">
      <div class="column is-4">
        <amp-iframe width="200" height="100" sandbox="allow-scripts" 
          layout="responsive" src="/iframes/leaflet-com"></amp-iframe>
      </div> 

      <div class="column">
        <div class="content">
          <ul>
            <li>2016	Oral presentation in WP Nuclear Corrosion EUROCORR 2016
              Montpelier, France (<a href="http://eurocorr.org/EFC+Awards+and+Prizes-p-71440.html" target="_blank"><strong>best presentation award</strong></a>). "Pitting corrosion modelling by means of a stochastic cellular automata based model"
            </li>
            <li>
              2016	Oral presentation CORROSION 2016
              Vancouver, Canada. <p><strong>Corrosion modeling using 3D probabilistic cellular automata based model</strong></p>
            </li>
            <li>
              2015	Poster EUROCORR 2015
              Graz, Austria.	"Corrosion modelling by cellular automata"
            </li>
            <li>
              2014	Oral presentation ACRI 2014
              Krakow, Poland. "Overview of cellular automaton models for corrosion"
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="section" id="publications">
  <div class="container">
    <h2 class="title"><i class="fas fa-book-open"></i>  Publications</h2>
    <p>Citations of my articles might be found at <a class="icon" href="{{ site.socialnetworks.google }}">
          <i class="fab fa-google"></i>
        </a> Google Scholar and 
        <a class="icon" href="{{ site.socialnetworks.researchgate }}">
          <i class="fab fa-researchgate"></i>
        </a> Research Gate.
        
    </p>
    <br>
    <h3 class="subtitle" id="phdthesis">PhD Thesis</h3>
    
    <div class="box">
    
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <amp-img src="/assets/img/about/phd.jpg" width="64" height="90" alt="phd thesis cristian perez"></amp-img>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <span>Uniform and localized corrosion modelling by means of probabilistic cellular automata</span>
            <br>
            <strong>Cristian Perez Brokate</strong> <small>Université Pierre et Marie Curie - Paris VI, 2016</small> 
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <a class="icon is-small" href="https://tel.archives-ouvertes.fr/tel-01561596"><i class="fas fa-book"></i>
              </a>
            </a>
            <a class="level-item">
              <a class="icon is-small" href="https://tel.archives-ouvertes.fr/tel-01561596/document"><i class="fas fa-file-pdf"></i>
              </a>
            </a>
          </div>
        </nav>
      </div>
    </article>
      
    </div>



    <h3 class="subtitle" id="journalarticles">Journal Articles</h3>

    {% for article in site.data.about.articles %}
    <div class="box">
    
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <amp-img src="{{ article.img }}" width="64" height="90" alt="{{ article.title }}"></amp-img>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <span>{{ article.title }}</span>
            <br>
            {{ article.authors }}
            <br>
            <small>{{ article.journal }}</small> <small><i> {{ article.date }}</i></small>
          </p>
        </div>
      </div>
      <div class="media-right">
        <a class="icon is-small" href="{{ article.url }}"><i class="fas fa-file-pdf fa-2x"></i></a>
      </div>
    </article>
      
    </div>
    {% endfor %}

    <h3 class="subtitle" id="conferenceproceedings">Conference proceedings</h3>


    {% for article in site.data.about.conference_proceedings %}
    <div class="box">
    
    <article class="media">
      {% if article.img %}
      <figure class="media-left">
        <p class="image is-64x64">
          <amp-img src="{{ article.img }}" width="64" height="90" alt="{{ article.title }}"></amp-img>
        </p>
      </figure>
      {% endif %}
      <div class="media-content">
        <div class="content">
          <p>
            <span>{{ article.title }}</span>
            <br>
            {{ article.authors }}
            <br>
            <small>{{ article.journal }}</small>  <small><i>{{ article.date }}</i></small>
          </p>
        </div>
      </div>
      <div class="media-right">
        <a class="icon is-small" href="{{ article.url }}"><i class="fas fa-file-pdf fa-2x"></i></a>
      </div>
    </article>
      
    </div>
    {% endfor %}

  </div>
</section>
