---
layout: default
title: Academic
description: ""
permalink: /about
navigation: true
animation: true
carousel: true

---

<amp-animation id="showAnim"
  layout="nodisplay">
  <script type="application/json">
    {
      "duration": "200ms",
      "fill": "both",
      "iterations": "1",
      "direction": "alternate",
      "animations": [{
        "selector": "#scrollToTopButton",
        "keyframes": [{
          "opacity": "1",
          "visibility": "visible"
        }]
      }]
    }
  </script>
</amp-animation>

<amp-animation id="hideAnim"
  layout="nodisplay">
  <script type="application/json">
    {
      "duration": "200ms",
      "fill": "both",
      "iterations": "1",
      "direction": "alternate",
      "animations": [{
        "selector": "#scrollToTopButton",
        "keyframes": [{
          "opacity": "0",
          "visibility": "hidden"
        }]
      }]
    }
  </script>
</amp-animation>

<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start"
                             layout="nodisplay">
      </amp-position-observer>
      <div class="columns is-horizontal-center">
          <h1 class="title">
            Scientific Publications
          </h1>
      </div>

    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li><a on="tap:prix.scrollTo(duration=500)">Awards</a></li>
          <li><a on="tap:publications.scrollTo(duration=500)">Publications</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section" id="publications">
  <div class="container">
    <p>Citations of my articles might be found at <a href="{{ site.socialnetworks.google }}">
          {% include logos/google.svg color='#247da6' %}
        </a> Google Scholar and 
        <a href="{{ site.socialnetworks.researchgate }}">
          {% include logos/researchgate.svg color='#247da6' %}
        </a> Research Gate.
        
    </p>
    <br>
    <h3 class="subtitle" id="phdthesis">PhD Thesis</h3>
    

    <div class="box">
      <div class="columns is-multiline">
        <div class="column is-1-desktop is-12-mobile has-text-centered">
          <a href="https://tel.archives-ouvertes.fr/tel-01561596" class="image">
            <amp-img src="/assets/img/about/phd-horz.png" layout="responsive" width="230" height="128" alt="phd thesis cristian perez" media="(max-width: 768px)"></amp-img>
            <amp-img src="/assets/img/about/phd.jpg" width="64" height="90" alt="phd thesis cristian perez" media="(min-width: 769px)"></amp-img>
          </a>
        </div>
        <div class="column is-11-desktop is-12-mobile">
          <div class="content">
            <a class="title is-6" href="https://tel.archives-ouvertes.fr/tel-01561596">Uniform and localized corrosion modelling by means of probabilistic cellular automata</a>
            <p>
              Cristian Perez Brokate
            </p>
            <div class="tags has-addons">
              <span class="tag">
                Université Pierre et Marie Curie - Paris VI
              </span>
              <span class="tag">
                2016
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="subtitle" id="journalarticles">Journal Articles</h3>

    {% for article in site.data.about.articles %}
    <div class="box">
      <div class="columns is-multiline">
        <div class="column is-1-desktop is-12-mobile has-text-centered">
          <a href="{{ article.url }}" class="image">
            <amp-img src="{{ article.img-horz }}" width="200" height="128" layout="responsive" alt="{{ article.title }}" media="(max-width: 768px)"></amp-img>
            <amp-img src="{{ article.img }}" width="64" height="90" alt="{{ article.title }}" media="(min-width: 769px)"></amp-img>
          </a>
        </div>
        <div class="column is-11-desktop is-12-mobile">
          <div class="content">
            <p>
              <a class="title is-6" href="{{ article.url }}">{{ article.title }}</a>
            </p>
            <p class="is-size-7">
              {{ article.authors }}
            </p>
            <div class="tags has-addons">
              <span class="tag">
                {{ article.journal }}
              </span>
              <span class="tag">
                {{ article.volume }}
              </span>
              <span class="tag">
                {{ article.page }}
              </span>
              <span class="tag">
                {{ article.date }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <h3 class="subtitle" id="conferenceproceedings">Conference proceedings</h3>


    {% for article in site.data.about.conference_proceedings %}
    <div class="box">
      <div class="columns is-multiline">
        <div class="column is-1-desktop is-12-mobile has-text-centered">
          <a href="{{ article.url }}" class="image">
            <amp-img src="{{ article.img-horz }}" width="200" height="128" layout="responsive" alt="{{ article.title }}" media="(max-width: 768px)"></amp-img>
            <amp-img src="{{ article.img }}" width="64" height="90" alt="{{ article.title }}" media="(min-width: 769px)"></amp-img>
          </a>
        </div>
        <div class="column is-11-desktop is-12-mobile">
          <div class="content">
            <p>
              <a class="title is-6" href="{{ article.url }}">{{ article.title }}</a>
            </p>
            <p class="is-size-7">
              {{ article.authors }}
            </p>
            <div class="tags has-addons">
              <span class="tag">
                {{ article.journal }}
              </span>
              <span class="tag">
                {{ article.page }}
              </span>
              <span class="tag">
                {{ article.date }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>

<button id="scrollToTopButton"
        on="tap:top.scrollTo(duration=200)"
        class="scrollToTop">⌃
</button>

<section class="section hero is-primary" id="communications">
  <div class="container">
    <h2 class="title">🎙️  Communications</h2>

    <div class="columns is-gapless">
      <div class="column">
        <div class="content">
          <ul>
            <li>
              🇫🇷
              EUROCORR 2016, Montpelier, France.
              Oral presentation in WP Nuclear Corrosion
              "Pitting corrosion modelling by means of a stochastic cellular automata based model"
            </li>
            <li>
              🇨🇦
              CORROSION 2016 Vancouver, Canada.
              Oral presentation 
              "Corrosion modeling using 3D probabilistic cellular automata based model"
            </li>
            <li>
              🇦🇹
              EUROCORR 2015, Graz, Austria.
              Poster "Corrosion modelling by cellular automata"
            </li>
            <li>
              🇵🇱 
              ACRI 2014, Krakow, Poland.
              Oral presentation
              "Overview of cellular automaton models for corrosion"
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="prix">
  <div class="container">
    <h2 class="title">⭐ Awards</h2>
    <div class="has-text-centered">

      <amp-carousel
        height="400"
        layout="fixed-height"
        type="slides"
        autoplay
        delay="3000"
        controls
        >
        <figure>
        <amp-img
          role="button"
          aria-describedby="apply for hardware wining hackster xilinx"
          alt="Prix apply for hardware hackster xilinx"
          title="Prix apply for hardware hackster xilinx"
          src="/assets/img/about/hackster-xilinx.jpg"
          layout="intrinsic"
          width="338"
          height="185"></amp-img>
        <div>
          <p>
            <a class="title is-4" href="https://www.hackster.io/javier-cristian/thefifthdriver-machine-learning-driving-assistance-on-fpga-98f295" target="_blank">Adaptive Computing Developer Contest</a>
          </p>
          <p class="subtitle is-6">2020</p>
          <p>
            Apply for hardware stage. Each winner was awarded a developing Hardware ($1200 value).
          </p>
        </div>
        </figure>
        <figure>
        <amp-img
          role="button"
          aria-describedby="prix hackster sigfox"
          alt="Prix hackster sigfox"
          title="Prix hackster Sigfox"
          src="/assets/img/about/prix-hackster.jpg"
          layout="intrinsic"
          width="450"
          height="244"></amp-img>
        <div>
          <p>
            <a class="title is-4" href="https://www.hackster.io/cristianpb/smart-compost-monitoring-cd122e" target="_blank">Sigfox Universities Challenge</a>
          </p>
          <p class="subtitle is-6">2019</p>
          <p>
            Each winner was awarded a Hardware + Mentorship ($200 value)
          </p>
        </div>
        </figure>
        <figure>
        <amp-img
          role="button"
          aria-describedby="Prix eurocorr 2016"
          alt="Prix Eurocorr 2016"
          title="Prix Eurocorr 2016"
          src="/assets/img/about/prix-eurocorr.jpg"
          layout="intrinsic"
          width="314"
          height="244"></amp-img>
        <div>
          <p>
            <a class="title is-4" href="https://eurocorr.org/EFC+Awards+and+Prizes-p-71440.html" target="_blank">Best presentation award</a>
          </p>
          <p class="subtitle is-6">2016</p>
          <p>
            The two best oral presentations of the Nuclear Corrosion session during EUROCORR 2016 in Montpellier.
          </p>
        </div>
        </figure>
        <figure>
        <amp-img
          role="button"
          aria-describedby="Prix Roberto Rocca"
          alt="Prix Roberto Rocca"
          title="Prix Roberto Rocca"
          src="/assets/img/about/roberto_rocca.jpg"
          layout="intrinsic"
          width="450"
          height="244"></amp-img>
        <div>
          <p>
            <a class="title is-4" href="https://www.robertorocca.org/en/fellowships/fellows15.aspx" target="_blank">Roberto Rocca Fellowship</a>
          </p>
          <p class="subtitle is-6">2015</p>
          <p>
            Awarded to exceptional university graduates from developing countries
            to help fund studies towards the Ph.D. degree at a university outside
            his home country
          </p>
        </div>
        </figure>
        <figure>
        <amp-img
          role="button"
          aria-describedby="Prix arts et sciences"
          alt="Prix arts et sciences"
          title="Prix arts et sciences"
          src="/assets/img/about/arts.jpg"
          layout="intrinsic"
          width="350"
          height="244"></amp-img>
        <div>
          <p>
            <a class="title is-4" href="https://artsetsciences.doc-up.info/archives/edition-2014/" target="_blank">Arts et Sciences</a>.
          </p>
          <p class="subtitle is-6">2014</p>
          <p class="content">
            Artistic contest related to science, organized by Doctoral
            association of Sorbonne University and UPMC.
          </p>
        </div>
        </figure>
      </amp-carousel>
    </div>
  </div>
</section>


