---
layout: default
title: About me
description: This is the best place if you want to learn more about Cristian Perez Brokate. I'm a Data Scientist with a PhD in physical chemistry. I made this page as a frontend for my portfolio.
permalink: /about
navigation: true
animation: true
carousel: true

---

<amp-animation id="showAnim"
  layout="nodisplay">
  <script type="application/json">
    {
      "duration": "200ms",
      "fill": "both",
      "iterations": "1",
      "direction": "alternate",
      "animations": [{
        "selector": "#scrollToTopButton",
        "keyframes": [{
          "opacity": "1",
          "visibility": "visible"
        }]
      }]
    }
  </script>
</amp-animation>

<amp-animation id="hideAnim"
  layout="nodisplay">
  <script type="application/json">
    {
      "duration": "200ms",
      "fill": "both",
      "iterations": "1",
      "direction": "alternate",
      "animations": [{
        "selector": "#scrollToTopButton",
        "keyframes": [{
          "opacity": "0",
          "visibility": "hidden"
        }]
      }]
    }
  </script>
</amp-animation>

<section class="hero is-primary is-small">
  <div class="hero-body is-centered">
    <div class="container">
      <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start"
                             layout="nodisplay">
      </amp-position-observer>
      <div class="columns is-mobile is-horizontal-center is-multiline">
        <div class="column is-3-desktop is-12-mobile has-text-centered">
          <h1 class="title">
            {{ site.title }}
          </h1>
        </div>
        <div class="column is-4-desktop is-12-mobile has-text-centered">
          <h2 class="subtitle">
            {{ page.description }}
          </h2>
        </div>
      </div>

    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li><a on="tap:experience.scrollTo(duration=500)">Experience</a></li>
          <li><a on="tap:education.scrollTo(duration=500)">Education</a></li>
          <li><a on="tap:prix.scrollTo(duration=500)">Prix</a></li>
          <li><a on="tap:publications.scrollTo(duration=500)">Publications</a></li>
          <li><a href="/assets/pdf/cv.pdf">
              {% include logos/download.svg color='#ffffff' %}
              &nbsp;CV</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section" id="experience">
  <div class="container">

    <h2 class="title">💼 Experience</h2>
    <div class="columns is-multiline">

      <div class="column is-6">

        <div class="columns is-multiline">
          <div class="column is-12">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/ministere_interieur.png" layout="responsive" width="48" height="48" alt="Ministère de l'interieur"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4">First Data Scientist</a><br>
                    <a class="subtitle is-6" href="https://www.interieur.gouv.fr">French interior ministry - Innovation and Digital Transformation department</a>
                  </div>
                </div>
                <div class="content">
                  <p>
                    I'm inside a structure that promotes digital transformation of the French Ministry.
                    My team helps other ministries to use data in a most effective way.
                    My main tasks are the following:
                    <a class="button is-small is-fullwidth" id="readmore-button-ministry" on="tap:readmore-button-ministry.hide, readmore-text-ministry.toggleVisibility" role="button" tabindex="">
                      {% include logos/chevron-down.svg color='#000015' %} 
                      </a>
                  </p>
                  <ul id="readmore-text-ministry" hidden="">
                    <li>
                      System administration:
                      <ul>
                        <li>
                          Server management with UNIX commands
                        </li>
                        <li>
                          Server deployment in private cloud private infrastructures using Ansible
                        </li>
                        <li>
                          Deploy AWS services like Lambda, EC2, API GateWay, Cloud Formation.
                        </li>
                        <li>
                          Routing applications using NGINX or Traefik
                        </li>
                      </ul>
                    </li>
                    <li>
                      Data science:
                      <ul>
                        <li>
                          Data mining
                        </li>
                        <li>
                          Data cleaning and preparation
                        </li>
                        <li>
                          Processing textual data, semantic analysis, search engine development
                        </li>
                        <li>
                          Process government private and public data
                        </li>
                      </ul>
                    </li>
                    <li>
                      Visualization: 
                      <ul>
                        <li>
                          Build dashboards and web applications
                        </li>
                        <li>
                          Make cartographic representations and geo-code data
                        </li>
                      </ul>
                    </li>
                  </ul>
                  {%   assign today = site.time | date: '%s'      %}
                  {%   assign start = '01-12-2019 04:00:00' | date: '%s'  %}
                  {%   assign secondsSince = today | minus: start     %}
                  {%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
                  {%   assign daysSince = hoursSince | divided_by: 24  %}
                  {%   assign monthsSince = daysSince | divided_by: 29  %}
                  {%   assign modulus = daysSince | modulo: 29 | times: 10 | divided_by: 29  %}
                  <div class="tags has-addons">
                    <span class="tag">Dec 2019 - Present</span>
                    <span class="tag is-primary">{{monthsSince}}.{{modulus}} months</span>
                  </div>
                </div>
                <hr class="navbar-divider">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/ministere_interieur.png" layout="responsive" width="48" height="48" alt="Ministère de l'interieur"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4" href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/iaflash.html">Entrepreneur d'Intérêt Général</a><br>
                    <a class="subtitle is-6" href="https://www.interieur.gouv.fr">French interior ministry</a>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Entrepreneur d'Intérêt Général is equivalent to the
                    Presidential Innovation Fellows in the US. This program hires
                    Entrepreneurs for a 10 months mission, in order to bring
                    digital transformation in the French Administration and make
                    use of public Data. 
                    <a class="button is-small is-fullwidth" id="readmore-button-eig" on="tap:readmore-button-eig.hide, readmore-text1.toggleVisibility, readmore-text2.toggleVisibility" role="button" tabindex="">
                      {% include logos/chevron-down.svg color='#000015' %}
                    </a>
                  </p>
                  <p id="readmore-text1" hidden="">
                    I implemented image recognition algorithms using deep
                    learning for the French national agency for automated offence
                    processing (ANTAI).
                  </p>
                  <p id="readmore-text2" hidden="">
                    The results of the project can be found at <a href="https://iaflash.fr" target="_blank">iaflash.fr</a>
                  </p>
                  <div class="tags has-addons">
                    <span class="tag">Jan 2019 - Nov 2019</span>
                    <span class="tag is-primary">10 months</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-6">

        <div class="columns is-multiline">
          <div class="column is-12">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/kernix.png" layout="responsive" width="48" height="48" alt="Kernix logo"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4" href="https://www.kernix.com/">Data scientist</a><br>
                    <a class="subtitle is-6" href="https://www.kernix.com/">Kernix</a>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Kernix is an agency that builds personalized digital and data products. I worked with the data team to build entire data products using machine learning tools and visualizations. I had the opportunity to work with clients from diverse fields and develop personalized data products for each one, my main realisations were:
                      <a class="button is-small is-fullwidth" id="readmore-button-kernix" on="tap:readmore-button-kernix.hide, readmore-text-kernix.toggleVisibility" role="button" tabindex="">
                        {% include logos/chevron-down.svg color='#000015' %}
                        </a>
                  </p>
                  <ul id="readmore-text-kernix" hidden="">
                    <li>
                      Prediction models for finance and insurance French companies
                    </li>
                    <li>
                      Implement a deep learning object detection algorithm for a British start-up
                    </li>
                    <li>
                      Develop a movement prediction model for a robot using a LSTM model
                    </li>
                    <li>
                      Create a recommendation system for French bank website
                    </li>
                    <li>
                      Build interactive dashboards and web apps using <i class="fab fa-js"></i>
                    </li>
                  </ul>
                  <div class="tags has-addons">
                    <span class="tag">Jan 2017 - Jan 2019</span>
                    <span class="tag is-primary">2 years</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <amp-img src="/assets/img/about/cea.jpg" layout="responsive" 
                                                               width="48" height="48" alt="cea logo"></amp-img>
                    </figure>
                  </div>
                  <div class="media-content">
                    <a class="title is-4" href="http://www.cea.fr/">PhD Physical Chemistry</a><br>
                    <a class="subtitle is-6" href="http://www.cea.fr/">CEA</a>
                  </div>
                </div>
                <div class="content">
                  <p>
                    The CEA is a structure that regulates Atomic Energy in
                    France. During my PhD I used numerical simulations to predict
                    the corrosion behaviour of metal structures for nuclear
                    applications.
                    The scientific results of my PhD can be found at <a on="tap:publications.scrollTo(duration=200)">my PhD dissertation</a>, my main tasks were: 
                    <a class="button is-small is-fullwidth" id="readmore-button-phd" on="tap:readmore-button-phd.hide, readmore-text-phd.toggleVisibility" role="button" tabindex="">
                      {% include logos/chevron-down.svg color='#000015' %}
                      </a>
                  </p>
                  <ul id="readmore-text-phd" hidden=""> 
                    <li> Study of the competition between general and localized corrosion with stochastic numerical modelling.  </li> 
                    <li> Parallel programming using CUDA language in NVIDIA GPU </li> 
                    <li> Data analysis and visualization using python <i class="fab fa-python"></i>, Gnuplot and R / <i class="fab fa-r-project"></i> </li> 
                  </ul> 
                  <div class="tags has-addons"> 
                    <span class="tag">Nov 2013 - Oct 2016</span> <span class="tag is-primary">3 years</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title"> ⌛ Part time</h2>
    <div class="columns is-multiline">
      <div class="column is-4">

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <amp-img src="/assets/img/about/cityai.jpg" layout="responsive" width="48" height="48" alt="City AI logo"></amp-img>
                </figure>
              </div>
              <div class="media-content">
                <a class="title is-4" href="https://city.ai/paris">Content expert</a><br>
                <a class="subtitle is-6" href="https://city.ai/">City AI</a>
              </div>
            </div>
            <div class="content">
              <p>City AI is a global community that brings practitioners and stakeholders of applied artificial intelligence together. I represent the Paris community regarding the international community of City AI. My main tasks in are:
                <a class="button is-small is-fullwidth" id="readmore-button-cityai" on="tap:readmore-button-cityai.hide, readmore-text-cityai.toggleVisibility" role="button" tabindex="">
                  {% include logos/chevron-down.svg color='#000015' %} 
                </a>
              </p>
              <ul id="readmore-text-cityai" hidden="">
                <li>
                  Write content about AI from a specialized point of view. The articles can be found <a href="/blog">here</a>
                </li>
                <li>
                  Development of an application to collect news in the AI fields and share them with the community. The frontend of the application can be found <a href="https://cristianpb.github.io/newsapp">here</a> and the code can be found <a href="https://github.com/cristianpb/newsapp" target="_blank">here</a>.
                </li>
                <li>
                  French AI ecosystem mapping using Crunchbase API, which can be found <a href="https://cristianpb.github.io/iframes/dashboard" target="_blank">here</a>.
                </li>
                <li>
                  Development of an application that combines content fetched from externals API (Meetup, Crunchbase and Twitter) and an internal Wiki updated by the community. The code for the application can be found <a href="https://github.com/cityai/ecowiki" target="_blank">here</a>.
                </li>
              </ul>
              {%   assign today = site.time | date: '%s'      %}
              {%   assign start = '01-05-2018 04:00:00' | date: '%s'  %}
              {%   assign secondsSince = today | minus: start     %}
              {%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
              {%   assign daysSince = hoursSince | divided_by: 24  %}
              {%   assign yearsSince = daysSince | divided_by: 365  %}
              {%   assign k = 10   %}
              {%   assign divisor = 365   %}
              {%   assign modulus = daysSince | modulo: 365 | times: k | divided_by: divisor  %}
              <div class="tags has-addons">
                <span class="tag">2018 - Present</span>
                <span class="tag is-primary">{{yearsSince}}.{{modulus}} years</span>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <amp-img src="/assets/img/about/gswai.jpg" layout="responsive" width="48" height="48" alt="global startup weekend AI"></amp-img>
                </figure>
              </div>
              <div class="media-content">
                <a class="title is-4" href="https://gswai.github.io/team">Technical expert</a><br>
                <a class="subtitle is-6" href="https://gswai.github.io">Global Startup Weekend AI</a>
              </div>
            </div>
            <div class="content">
              <p>The objective of this movement is to organize simultaneous Startup Weekends around the world focused on artificial intelligence. I worked as a technical expert in the field, my main tasks were:
                <a class="button is-small is-fullwidth" id="readmore-button-gswai" on="tap:readmore-button-gswai.hide, readmore-text-gswai.toggleVisibility" role=button"" tabindex="">
                  {% include logos/chevron-down.svg color='#000015' %} 
                </a>
              </p>
              <ul id="readmore-text-gswai" hidden="">
                <li>
                  Website development of <a href="https://gswai.github.io" target="_blank">for Global SWAI</a> using accelerated mobile pages (AMP) and jekyll static site generator.
                </li>
                <li>
                  Development of this <a href="http://ng-tweet.herokuapp.com/dashboard" target="_blank">tweet wall</a> using mongodb, express, <i class="fab fa-angular"></i> and <i class="fab fa-node"></i>. The code can be found <a href="https://github.com/cristianpb/ngTwitterApp" target="_blank">here</a>.
                </li>
                <li>
                  Mentor local participants in artificial intelligence field.
                </li>
              </ul>
              <div class="tags has-addons">
                <span class="tag">2017 - 2018</span>
                <span class="tag is-primary">1 year</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <amp-img src="/assets/img/about/enscp.svg" layout="responsive" width="48" height="48" alt="école nationale supérieure de chimie de paris"></amp-img>
                </figure>
              </div>
              <div class="media-content">
                <a class="title is-4" href="https://www.chimieparistech.psl.eu/">Substitute teacher</a><br>
                <a class="subtitle is-6" href="https://www.chimieparistech.psl.eu/">École Nationale Supérieure de Chimie de Paris</a>
              </div>
            </div>
            <div class="content">
              <p>
                Teaching of practical courses on thermodynamics (heat exchangers and centrifugal pumps)
              </p>
              <div class="tags has-addons">
                <span class="tag">2014 - 2016</span>
                <span class="tag is-primary">2 years</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<button id="scrollToTopButton"
        on="tap:top.scrollTo(duration=200)"
        class="scrollToTop">⌃
</button>

<section class="section" id="education">
  <div class="container">
    <h2 class="title"> 🎓 Education</h2>
    <div class="svg-container is-hidden-mobile">
      {% include education-horz.svg %}
    </div>
    <div class="svg-container is-hidden-tablet">
      {% include education-vert.svg %}
    </div>
  </div>
</section>

<section class="section" id="prix">
  <div class="container">
    <h2 class="title">⭐Prix</h2>
    <div class="has-text-centered">

      <amp-carousel
        height="400"
        layout="fixed-height"
        type="slides"
        autoplay
        delay="3000"
        controls
        >
        <figure>
        <amp-img
          role="button"
          aria-describedby="prix hackster sigfox"
          alt="Prix hackster sigfox"
          title="Prix hackster Sigfox"
          src="/assets/img/about/prix-hackster.jpg"
          layout="intrinsic"
          width="450"
          height="244"></amp-img>
        <div>
          <p>
            <a class="title is-4" href="https://www.hackster.io/cristianpb/smart-compost-monitoring-cd122e" target="_blank">Sigfox Universities Challenge</a>
          </p>
          <p class="subtitle is-6">2019</p>
          <p>
            Each winner was awarded a Hardware + Mentorship ($200 value)
          </p>
        </div>
        </figure>
        <figure>
        <amp-img
          role="button"
          aria-describedby="Prix eurocorr 2016"
          alt="Prix Eurocorr 2016"
          title="Prix Eurocorr 2016"
          src="/assets/img/about/prix-eurocorr.jpg"
          layout="intrinsic"
          width="314"
          height="244"></amp-img>
        <div>
          <p>
            <a class="title is-4" href="http://eurocorr.org/EFC+Awards+and+Prizes-p-71440.html" target="_blank">Best presentation award</a>
          </p>
          <p class="subtitle is-6">2016</p>
          <p>
            The two best oral presentations of the Nuclear Corrosion session during EUROCORR 2016 in Montpellier.
          </p>
        </div>
        </figure>
        <figure>
        <amp-img
          role="button"
          aria-describedby="Prix Roberto Rocca"
          alt="Prix Roberto Rocca"
          title="Prix Roberto Rocca"
          src="/assets/img/about/roberto_rocca.jpg"
          layout="intrinsic"
          width="450"
          height="244"></amp-img>
        <div>
          <p>
            <a class="title is-4" href="http://www.robertorocca.org/en/fellowships/fellows15.aspx" target="_blank">Roberto Rocca Fellowship</a>
          </p>
          <p class="subtitle is-6">2015</p>
          <p>
            Awarded to exceptional university graduates from developing countries
            to help fund studies towards the Ph.D. degree at a university outside
            his home country
          </p>
        </div>
        </figure>
        <figure>
        <amp-img
          role="button"
          aria-describedby="Prix arts et sciences"
          alt="Prix arts et sciences"
          title="Prix arts et sciences"
          src="/assets/img/about/arts.jpg"
          layout="intrinsic"
          width="350"
          height="244"></amp-img>
        <div>
          <p>
            <a class="title is-4" href="http://artsetsciences.doc-up.info/archives/edition-2014/" target="_blank">Arts et Sciences</a>.
          </p>
          <p class="subtitle is-6">2014</p>
          <p class="content">
            Artistic contest related to science, organized by Doctoral
            association of Sorbonne University and UPMC.
          </p>
        </div>
        </figure>
      </amp-carousel>
    </div>
  </div>
</section>


<section class="section hero is-primary" id="communications">
  <div class="container">
    <h2 class="title">🎙️  Communications</h2>

    <div class="columns is-gapless">
      <div class="column is-4">
        <amp-iframe width="200" height="100" sandbox="allow-scripts" 
          layout="responsive" src="/iframes/leaflet-com"></amp-iframe>
      </div> 

      <div class="column">
        <div class="content">
          <ul>
            <li>2016	Oral presentation in WP Nuclear Corrosion EUROCORR 2016
              Montpelier, France. "Pitting corrosion modelling by means of a stochastic cellular automata based model"
            </li>
            <li>
              2016	Oral presentation CORROSION 2016
              Vancouver, Canada. "Corrosion modeling using 3D probabilistic cellular automata based model"
            </li>
            <li>
              2015	Poster EUROCORR 2015
              Graz, Austria.	"Corrosion modelling by cellular automata"
            </li>
            <li>
              2014	Oral presentation ACRI 2014
              Krakow, Poland. "Overview of cellular automaton models for corrosion"
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="section" id="publications">
  <div class="container">
    <h2 class="title">📖  Publications</h2>
    <p>Citations of my articles might be found at <a href="{{ site.socialnetworks.google }}">
          {% include logos/google.svg color='#247da6' %}
        </a> Google Scholar and 
        <a href="{{ site.socialnetworks.researchgate }}">
          {% include logos/researchgate.svg color='#247da6' %}
        </a> Research Gate.
        
    </p>
    <br>
    <h3 class="subtitle" id="phdthesis">PhD Thesis</h3>
    

    <div class="box">
      <div class="columns is-multiline">
        <div class="column is-1-desktop is-12-mobile has-text-centered">
          <a href="https://tel.archives-ouvertes.fr/tel-01561596" class="image">
            <amp-img src="/assets/img/about/phd-horz.png" layout="responsive" width="230" height="128" alt="phd thesis cristian perez" media="(max-width: 768px)"></amp-img>
            <amp-img src="/assets/img/about/phd.jpg" width="64" height="90" alt="phd thesis cristian perez" media="(min-width: 769px)"></amp-img>
          </a>
        </div>
        <div class="column is-11-desktop is-12-mobile">
          <div class="content">
            <a class="title is-6" href="https://tel.archives-ouvertes.fr/tel-01561596">Uniform and localized corrosion modelling by means of probabilistic cellular automata</a>
            <p>
              Cristian Perez Brokate
            </p>
            <div class="tags has-addons">
              <span class="tag">
                Université Pierre et Marie Curie - Paris VI
              </span>
              <span class="tag">
                2016
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="subtitle" id="journalarticles">Journal Articles</h3>

    {% for article in site.data.about.articles %}
    <div class="box">
      <div class="columns is-multiline">
        <div class="column is-1-desktop is-12-mobile has-text-centered">
          <a href="{{ article.url }}" class="image">
            <amp-img src="{{ article.img-horz }}" width="200" height="128" layout="responsive" alt="{{ article.title }}" media="(max-width: 768px)"></amp-img>
            <amp-img src="{{ article.img }}" width="64" height="90" alt="{{ article.title }}" media="(min-width: 769px)"></amp-img>
          </a>
        </div>
        <div class="column is-11-desktop is-12-mobile">
          <div class="content">
            <p>
              <a class="title is-6" href="{{ article.url }}">{{ article.title }}</a>
            </p>
            <p class="is-size-7">
              {{ article.authors }}
            </p>
            <div class="tags has-addons">
              <span class="tag">
                {{ article.journal }}
              </span>
              <span class="tag">
                {{ article.volume }}
              </span>
              <span class="tag">
                {{ article.page }}
              </span>
              <span class="tag">
                {{ article.date }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <h3 class="subtitle" id="conferenceproceedings">Conference proceedings</h3>


    {% for article in site.data.about.conference_proceedings %}
    <div class="box">
      <div class="columns is-multiline">
        <div class="column is-1-desktop is-12-mobile has-text-centered">
          <a href="{{ article.url }}" class="image">
            <amp-img src="{{ article.img-horz }}" width="200" height="128" layout="responsive" alt="{{ article.title }}" media="(max-width: 768px)"></amp-img>
            <amp-img src="{{ article.img }}" width="64" height="90" alt="{{ article.title }}" media="(min-width: 769px)"></amp-img>
          </a>
        </div>
        <div class="column is-11-desktop is-12-mobile">
          <div class="content">
            <p>
              <a class="title is-6" href="{{ article.url }}">{{ article.title }}</a>
            </p>
            <p class="is-size-7">
              {{ article.authors }}
            </p>
            <div class="tags has-addons">
              <span class="tag">
                {{ article.journal }}
              </span>
              <span class="tag">
                {{ article.page }}
              </span>
              <span class="tag">
                {{ article.date }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
