---
layout: default
title: ""
description: ""
carousel: true
animation: true
permalink: /
image:
  path: /assets/img/cristian-perez.png
  height: 200
  width: 300

---

<div class="w-full py-32 bg-blue-900">
  <h1 class="mb-5 text-5xl font-bold text-center text-white">Cristian</h1>
  <div class="w-10/12 m-auto sm:w-5/12">
    <p class="text-center text-white">I use data science tools to process multiple source of data and build robust data process pipelines. I build web applications with modern frontend javascript frameworks. I'm also in charge of IT management for large compute servers. In my free time I build IoT applications.</p>
  </div>
</div>

<!---
<div class="min-h-screen hero" style="background-image: url(/assets/img/about/developpement.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="text-center hero-content text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Cristian</h1>
      <p class="mb-5">I use data science tools to process multiple source of data and build robust data process pipelines. I build web applications with modern frontend javascript frameworks. I'm also in charge of IT management for large compute servers. In my free time I build IoT applications.</p>
    </div>
  </div>
</div>
--->


<section class="dark:bg-gray-900 dark:text-gray-300">
  <div class="w-11/12 py-8 m-auto sm:w-9/12">
    <h2 class="mb-5 text-3xl font-bold text-center">
      What I do:
    </h2>
    <div class="grid grid-cols-4 gap-5">
      <div class="col-span-3 sm:col-span-1">
        <h3 class="mb-5 text-3xl">Data modelling</h3>
        <center>
          <amp-img src="/assets/img/about/model.svg" alt="data modelling" height="100" width="150" layout="intrinsic"></amp-img>
        </center>
        <div class="content">
          <ul>
            <li>
              Regression and classification algorithms for finance and insurance French companies.  
            </li>
            <li>
              Deep learning algorithms for object detection 
            </li>
            <li>
              LSTM models for time series prediction in robotics application
            </li>
          </ul>
        </div>
      </div>
      <div class="col-span-3 sm:col-span-1">
        <h3 class="mb-5 text-3xl">Data engineering</h3>
        <center>
          <amp-img src="/assets/img/about/engineer.svg" alt="data engineer" height="100" width="150" layout="intrinsic"></amp-img>
        </center>
        <div class="content">
          <ul>
            <li>
              Collect data from different kinds of sources: social networks, APIs and websites.
            </li>
            <li>
              Save large amounts of data coming at high intensity using a differed processing pipeline.
            </li>
            <li>
              SQL and NoSQL database management (mongodb, neo4j, oracle, MySQL, SQLite)
            </li>
          </ul>
        </div>
      </div>
      <div class="col-span-3 sm:col-span-1">
        <h3 class="text-3xl smb-5">System management</h3>
        <center>
          <amp-img src="/assets/img/about/system.svg" alt="system management" height="100" width="150" layout="intrinsic"></amp-img>
        </center>
        <div class="content">
          <ul>
            <li>
              Application deployment using docker  <i class="fab fa-docker"></i> container system
            </li>
            <li>
              Cloud computing management using <i class="fab fa-aws"></i>
            </li>
            <li>
              System performance monitoring using telegraf, influxdb and grafana.
            </li>
          </ul>
        </div>
      </div>
			<div class="col-span-3 sm:col-span-1">
        <h3 class="text-3xl smb-5">Visualization</h3>
        <center>
          <amp-img src="/assets/img/about/visualization.svg" alt="visualization" height="100" width="150" layout="intrinsic"></amp-img>
        </center>
        <div class="content">
          <ul>
            <li>
              Interactive dashboard development using javascript libraries such as d3.js, dc.js
            </li>
            <li>
              Web applications using modern frameworks.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <center><a class="btn"  href="{{ site.baseurl | append: '/about'}}">More about me</a></center>
  </div>
</section>



<div class="bg-blue-900">
  <div class="px-8 py-8 mt-8 text-center md:px-32">
  <h2 class="mb-5 text-3xl font-bold text-white"> Last articles </h2>

      <amp-animation id="carouselTransition"
                     layout="nodisplay">
        <script type="application/json">
          {
      "duration": "500ms",
      "fill": "both",
      "easing": "ease-in",
      "delay": "0ms",
      "animations": [{
        "selector": ".carousel-component",
      }]
    }
        </script>
      </amp-animation>

      <amp-carousel class="carousel-component" height="400" layout="fixed-height" type="carousel"  controls>
        <amp-position-observer on="enter:carouselTransition.start"
                               intersection-ratios="1.0"
                               layout="nodisplay">
        </amp-position-observer>
        {% for post in site.posts limit: 9 %}
        <div class="bg-white card">
          {% if post.image %}
          <div class="card-image">
            <figure class="mt-2 image">
              <a {% if post.link %}href="{{post.link}}" target="_blank" rel="noreferrer"{% else %}href="{{ post.url }}"{% endif %}>
                <center>
                  <amp-img
                    height="203" width="304" 
                    alt="{{ post.title }}"  
                    srcset="{{ post.thumb.path | replace: 'jpg','webp' }} 400w, {{ post.image.path | replace: 'jpg','webp' }} 900w"
                    >
                    <amp-img 
                      height="203" width="304" 
                      fallback
                      src="{{ post.thumb.path }}"
                      alt="{{ post.title }}"  
                      srcset="{{ post.thumb.path }} 400w, {{ post.image.path }} 900w"
                      layout="intrinsic">
                    </amp-img>
                  </amp-img>
                </center>
              </a>
            </figure>
          </div>
          {% endif %}
          <div class="card-body">
            <div class="content">
              <strong>
                <a {% if post.link %}href="{{post.link}}" target="_blank" rel="noreferrer"{% else %}href="{{ post.url }}"{% endif %}>
                {{ post.title | truncate: 35, ".."}}</a>
              </strong>
              <div class="w-80">
                <p class="mb-0 whitespace-normal"> {{ post.description | truncate: 140, ".." }} </p>
              </div>
              <div class="tags has-addons">
                <span class="tag">
                  📅 
                  &nbsp;{{ post.date | date: "%b %-d, %Y" }}</span>
                <span class="text-xs badge badge-info gap-2">{{ post.categories | join: ", " | truncate: 30, ".."}}</span>
                {% if post.link %}
                <span class="tag is-danger">
                  {% include logos/external-link.svg color='#ffffff' %}
                </span>
                {% else %}{% endif %}
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
      </amp-carousel>
      <br>
      <center><button class="btn"  href="{{ site.baseurl | append: '/blog'}}">More at my blog</button></center>

  </div>
</div>

<section class="section">
  <div class="container">
    <h2 class="title">
      Featured projects
    </h2>
      <amp-carousel
        height="440"
        layout="fixed-height"
        type="slides"
        autoplay
        delay="3000"
        controls>
        {% for realisation in site.data.about.realisations limit: 9 %}
                <center>
        <div class="card smallcard">
          {% if realisation.image %}
          <div class="card-image">
            <figure class="image">
              <a href="{{realisation.link}}" target="_blank" rel="noreferrer">
                    <amp-img 
                      height="203" width="304" 
                      fallback
                      src="{{ realisation.image }}"
                      alt="{{ realisation.title }}"  
                      layout="intrinsic">
                    </amp-img>
              </a>
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <div class="content">
              <strong>
                <a href="{{realisation.link}}" target="_blank" rel="noreferrer">
                {{ realisation.title | truncate: 35, ".."}}</a>
              </strong>
              <p class="is-size-7"> {{ realisation.description | truncate: 140, ".." }} </p>
              <div class="tags has-addons">
                {% for category in realisation.categories %}

                <span class="tag"> 
                  {% include tags/{{category}}.svg %}
                  &nbsp;
                  {{ category }}
                </span>
                {% endfor %}
              </div>
            </div>
          </div>


        </div>
                </center>
        {% endfor %}
      </amp-carousel>

  </div>
</section>
