---
layout: default
title: ""
description: ""
carousel: true
animation: true
permalink: /
image:
  path: /assets/img/cristian-perez.png
  height: 200
  width: 300

---

<section class="hero is-primary is-small">
  <div class="hero-body is-centered">
    <div class="container">
      <div class="columns is-mobile is-horizontal-center is-multiline">
        <div class="column is-12-mobile is-4-desktop">
          <amp-img src="/assets/img/cristian-perez.png" 
                   alt="Photo of {{ site.title }}"
                   title="{{ site.title }}"
                   layout="intrinsic"
                   width="250" height="250" media="(min-width: 769px)"></amp-img>
        </div>
        <div class="column is-4-desktop is-12-mobile has-text-centered">
          <h1 class="title">
            {{ site.title }}
          </h1>
          <h2 class="subtitle">
            {{ site.description }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
      {% for link in site.socialnetworks %}
       <li>
         <a href="{{ link[1] }}"><i class="fab fa-{{ link[0] }}"></i></a>
      </li>
      {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">

    <h2 class="title">
      What I do:
    </h2>
    <div class="columns is-mobile is-multiline is-horizontal-center">
      <div class="column is-3-desktop is-12-mobile">
        <h3 class="subtitle"><i class="fab fa-python"></i> Data modelling</h3>
        <center>
          <amp-img src="/assets/img/about/model.svg" alt="data modelling" height="100" width="150" layout="intrinsic"></amp-img>
        </center>
        <div class="content">
          <ul>
            <li>
              Regression and classification algorithms for finance and insurance French companies.  
            </li>
            <li>
              Deep learning algorithms for object detection 
            </li>
            <li>
              LSTM models for time series prediction in robotics application
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3-desktop is-12-mobile">
        <h3 class="subtitle"><i class="fas fa-database"></i> Data engineering</h3>
        <center>
          <amp-img src="/assets/img/about/engineer.svg" alt="data engineer" height="100" width="150" layout="intrinsic"></amp-img>
        </center>
        <div class="content">
          <ul>
            <li>
              Collect data from different kinds of sources: social networks, APIs and websites.
            </li>
            <li>
              Save large amounts of data coming at high intensity using a differed processing pipeline.
            </li>
            <li>
              SQL and NoSQL database management (mongodb, neo4j, oracle, MySQL, SQLite)
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3-desktop is-12-mobile">
        <h3 class="subtitle"><i class="fas fa-desktop"></i> System management</h3>
        <center>
          <amp-img src="/assets/img/about/system.svg" alt="system management" height="100" width="150" layout="intrinsic"></amp-img>
        </center>
        <div class="content">
          <ul>
            <li>
              Application deployment using docker  <i class="fab fa-docker"></i> container system
            </li>
            <li>
              Cloud computing management using <i class="fab fa-aws"></i>
            </li>
            <li>
              System performance monitoring using telegraf, influxdb and grafana.
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3-desktop is-12-mobile">
        <h3 class="subtitle"><i class="fas fa-mobile-alt"></i> Visualization</h3>
        <center>
          <amp-img src="/assets/img/about/visualization.svg" alt="visualization" height="100" width="150" layout="intrinsic"></amp-img>
        </center>
        <div class="content">
          <ul>
            <li>
              Interactive dashboard development using javascript libraries such as d3.js, dc.js
            </li>
            <li>
              Web applications using modern frameworks.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <center><a class="button is-primary"  href="{{ site.baseurl | append: '/about'}}">More about me</a></center>
  </div>
</section>


<section class="hero is-primary">
  <div class="hero-body">
    <div class="container" id="last_articles">

      <h2 class="title"> Last articles </h2>

      <amp-animation id="carouselTransition"
                     layout="nodisplay">
        <script type="application/json">
          {
      "duration": "500ms",
      "fill": "both",
      "easing": "ease-in",
      "delay": "0ms",
      "animations": [{
        "selector": ".carousel-component",
        "keyframes": [{
          "transform": "translateX(-60%)"
        }]
      }]
    }
        </script>
      </amp-animation>

      <amp-carousel class="carousel-component" height="500" layout="fixed-height" type="carousel"  controls>
        <amp-position-observer on="enter:carouselTransition.start"
                               intersection-ratios="0.8"
                               layout="nodisplay">
        </amp-position-observer>
        {% for post in site.posts limit: 9 %}
        <div class="card">
          {% if post.image %}
          <div class="card-image">
            <figure class="image">
              <a href="{% if post.link %}{{post.link}}{% else %}{{ post.url }}{% endif %}">
                <center>
                  <amp-img 
                    height="220" width="350" 
                    src="{{ post.thumb.path }}"
                    alt="{{ post.title }}"  
                    srcset="{{ post.thumb.path }} 400w, {{ post.image.path }} 900w"
                    layout="intrinsic">
                  </amp-img>
                </center>
              </a>
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <div class="media apretaito ">
              <div class="media-content">
                <strong>
                <a href="{% if post.link %}{{post.link}}{% else %}{{ post.url }}{% endif %}" {% if post.link %}target="_blank"{% else %}{% endif %} >{{ post.title | truncate: 40, ".."}}</a>
                </strong>
              </div>
            </div>

            <div class="content apretaito">
              <p class="is-size-7"> {{ post.description | truncate: 140, ".." }} </p>
              <div class="tags has-addons">
                <span class="tag"><i class="fas fa-calendar-alt"></i>&nbsp;{{ post.date | date: "%b %-d, %Y" }}</span>
                <span class="tag is-link">{{ post.categories | join: ", " | truncate: 30, ".."}}</span>
                {% if post.link %}
                <span class="tag is-danger"><i class="fas fa-external-link-alt"></i></span>
                {% else %}{% endif %}
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
      </amp-carousel>
      <br>
      <center><a class="button is-white"  href="{{ site.baseurl | append: '/blog'}}">More at my blog</a></center>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 class="title">
      Technical Stack
    </h2>
    <amp-img width="105" height="193" alt="Technical stack vertical" 
      layout="responsive" src="/assets/img/about/stack-ver.svg" 
      media="(max-width: 768px)"></amp-img>
    <amp-img height="220" alt="Technical stack horizontal" layout="fixed-height" 
      src="/assets/img/about/stack.svg" media="(min-width: 769px)"></amp-img>
  </div>
</section>
