<footer class="footer">
  <div class="content has-text-centered">
    <p>&copy; {{ site.time | date: '%Y' }} - {{ site.title }} 
      - 
      {% for link in site.author %}
       {% if link[0] != 'name' %}
        <a href="{{ link[1] }}">
          <i class="fab fa-{{ link[0] }}"></i>
          &nbsp;
        </a>
       {% endif %}
      {% endfor %}
    </p>
  </div>
</footer>
<amp-analytics type="googleanalytics" id="analytics1">
<script type="application/json">
{
  "vars": {
    "account": "{{ site.google_analytics }}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
<amp-install-serviceworker src="{{ site.baseurl | prepend: site.url }}/sw.js" layout="nodisplay"></amp-install-serviceworker>
