{% include sidebar.html %}
<nav class="navbar is-fixed-top is-primary">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="navbar-item" href="/">
        Cristian
      </a>
    </div>
    <a class="navbar-burger burger" on='tap:sidebar.toggle' data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Global SWAI
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-link" href="/#about">
        Get involved
      </a>

      <a class="navbar-item" href="/gswai2017">
        GSWAI 2017
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Media
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item bd-tw-button button" href="/videos">
            <i class="fab fa-youtube"></i>   Videos
          </a>
          <a class="navbar-item bd-tw-button button" href="/articles">
            <i class="fab fa-medium"></i>   Articles
          </a>
        </div>
        <hr class="navbar-divider">
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Find us
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="{{ site.author.twitter }}" target="_blank" href="{{ site.author.twitter }}">
            <i class="fab fa-twitter"></i>&nbsp;Twitter
          </a>
          <a class="navbar-item bd-tw-button button" href="{{ site.author.facebook }}">
            <i class="fab fa-facebook"></i>&nbsp;Facebook
          </a>
          <a class="navbar-item bd-tw-button button" href="{{ site.author.instagram }}">
            <i class="fab fa-instagram"></i>&nbsp;Instagram
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

{% if include.avatar %}
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary title
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    </div>
  </div>
</section>
{% endif %}
