{% include sidebar.html %}
<nav class="navbar is-fixed-top is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <amp-img src="{{ site.baseurl | append:'/assets/img/avatar.png'}}" 
          width="30" height="30"></amp-img>
    </a>
    <div class="navbar-item" >
      <a class="button is-primary is-hidden-desktop " href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title | | truncate: 30 }}
      </a>
    </div>
    <a class="navbar-burger burger" on='tap:sidebar.toggle' data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      {% if page.title %}
        <a class="navbar-item" href="{{ page.url | prepend: site.baseurl }}">
          {{ page.title }}
        </a>
      {% endif %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/about/">About me</a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="/about/#experience">
            Experience
          </a>
          <a class="navbar-item" href="/about/#education">
            Education
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/blog/">Blog</a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="/blog/tags">
            Categories
          </a>
          <a class="navbar-item" href="/feed.xml"><i class="fas fa-rss"></i>&nbsp;Atom</a>
        </div>
      </div>
    </div>
  </div>
</nav>

{% if include.avatar %}
<section class="hero is-primary is-medium">
  <div class="hero-body is-centered">
    <div class="container">
      <h1 class="title">
        {{ site.title }}
      </h1>
      <h2 class="subtitle">
        {{ site. description }}
      </h2>
      {% for link in site.author %}
       {% if link[0] != 'name' %}
        <a class="icon is-medium" href="{{ link[1] }}">
          <i class="fab fa-{{ link[0] }} fa-2x"></i>
        </a>
       {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
