{% include sidebar.html %}
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="text-xl normal-case btn btn-ghost" href="/">
      <amp-img src="{{ site.baseurl | append:'/assets/img/avatar-small.png'}}" 
               alt="{{ site.title }}"
               width="30" height="30"></amp-img>
      </a>
  </div>
  <div class="flex-1">
    <a class="text-xl normal-case btn btn-ghost" href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title | | truncate: 30 }}
      </a>
  </div>
  <div class="flex-none">
    <ul class="px-1 menu menu-horizontal">
      <li><a href="/about">About me</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="https://cristianpb.github.io/analytics-google">Analytics</a></li>
    </ul>
  </div>
</div>
