{% include sidebar.html %}
<nav class="navbar is-fixed-top is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <amp-img src="{{ site.baseurl | append:'/assets/img/avatar-small.png'}}" 
          alt="{{ site.title }}"
          width="30" height="30"></amp-img>
    </a>
    <div class="navbar-item" >
      <a class="button is-primary is-hidden-desktop " href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title | | truncate: 30 }}
      </a>
    </div>
    <a class="navbar-burger burger" on='tap:sidebar.toggle' data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      {% if page.title %}
      <div class="navbar-item" >
        <a class="button is-primary " href="{{ page.url | prepend: site.baseurl }}">
          {{ page.title }}
        </a>
      </div>
      {% endif %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-primary" href="/about">Academic</a>
      </div>
      <div class="navbar-item">
        <a class="button is-primary" href="/blog">Blog</a>
      </div>
      <div class="navbar-item">
        <a class="button is-primary" href="https://cristianpb.github.io/analytics-google">Analytics</a>
      </div>
    </div>
  </div>
</nav>
