<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  <amp-img class="amp-close-image"
           src="/assets/img/close.png"
           width="30"
           height="30"
           alt="close sidebar"
           on="tap:sidebar.close"
           role="button"
           tabindex="0"></amp-img>
  <br>
  <br>
  {% for page in site.pages %}
    {% if page.title and page.navigation %}
    <a class="button is-fullwidth" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  <br>
  <a class="button is-fullwidth" href="/blog">Blog</a>
  <br>

  <aside class="menu">
    <ul class="menu-list">
      <li><a>Find me in:</a></li>
    </ul>
    <ul class="menu-list">
      <li>
        <ul>
          {% for link in site.socialnetworks %}
          <li>
            <a href="{{ link[1] }}">
              <i class="fab fa-{{ link[0] }}"></i>
              &nbsp;{{ link[0] }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </aside>
</amp-sidebar>
