<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  <amp-img class="amp-close-image"
           src="/assets/img/close.png"
           width="30"
           height="30"
           alt="close sidebar"
           on="tap:sidebar.close"
           role="button"
           tabindex="0"></amp-img>
  <br>
  <br>
  {% for page in site.pages %}
    {% if page.title and page.navigation %}
    <a class="button is-fullwidth" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  <br>
  <a class="button is-fullwidth" href="/blog">Blog</a>
  <br>

  <aside class="menu">
    <ul class="menu-list">
      <li><a>Find me in:</a></li>
    </ul>
    <ul class="menu-list">
      <li>
        <ul>
          {% for link in site.socialnetworks %}
          <li>
            <a href="{{ link[1] }}"  target="_blank" rel="noreferrer">
             {% if link[0] == 'github' %}
               {% include logos/github.svg color='#247da6' %}&nbsp;Github
             {% endif %}
             {% if link[0] == 'medium' %}
               {% include logos/medium.svg color='#247da6' %}&nbsp;Medium
             {% endif %}
             {% if link[0] == 'twitter' %}
               {% include logos/twitter.svg color='#247da6' %}&nbsp;Twitter
             {% endif %}
             {% if link[0] == 'linkedin' %}
               {% include logos/linkedin.svg color='#247da6' %}&nbsp;Linkedin
             {% endif %}
             {% if link[0] == 'kaggle' %}
               {% include logos/kaggle.svg color='#247da6' %}&nbsp;Kaggle
             {% endif %}
             {% if link[0] == 'researchgate' %}
               {% include logos/researchgate.svg color='#247da6' %}&nbsp;ResearchGate
             {% endif %}
             {% if link[0] == 'google' %}
               {% include logos/google.svg color='#247da6' %}&nbsp;GoogleScholar
             {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </aside>
</amp-sidebar>
