$font-display: auto;

//$body-bg: #000;
//$navbar-height: 5.25rem;
//$navbar-item-img-max-height: 4.75rem;

$white: #ffffff;
//$navbar-burger-color: $white;

div#content-toc {
  position:fixed;
}

.is-horizontal-center {
  justify-content: center;
}

$lightblue: #247da6;
//$lightblue-invert: #ffffff;

$primary: $lightblue;
//$primary-invert: $darkblue-invert;

$menu-label-color: #4a4a4a;

.apretaito {
    white-space: normal;
    max-width: 300px;
}

$box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px -1px rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
$color-text-light: #fff;
$space: 1rem;

.scrollToTop {
    color: $color-text-light;
    font-size: 1.4em;
    box-shadow: $box-shadow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: $primary;
    z-index: 9999;
    bottom: $space;
    right: $space;
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

#search-bar {
    z-index: 9999;
    bottom: $space;
    right: $space;
    position: fixed;
    width: 80%;
    background: $primary;
}

.carousel-component {
    margin-right: -60%;
    margin-left: 60%;
}

.svg-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar {
    background: $white;
}
