---
layout: default
title: Blog

---

<section class="hero is-primary is-small">
  <div class="hero-body is-centered">
    <div class="container">
      <h1 class="title">
        {{ page.title }}
      </h1>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li><a href="/blog/">Articles</a></li>
          <li><a href="/blog/tags">Categories</a></li>
          <li><a href="/feed.xml"><i class="fas fa-rss"></i>&nbsp;Atom</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>


<section class="section">
  <div class="container">
    
  <div class="columns is-multiline">
    {% for post in paginator.posts  %}
    <div class="column is-one-third">
      <div class="card">
        {% if post.image %}
        <div class="card-image">
          <a href="{{ post.url }}" target="_blank">
          <figure class="image">
            <amp-img src="{{ post.image }}" alt="{{ post.title }}" height="200" width="300" layout="responsive"></amp-img>
          </figure></a>
        </div>
        {% endif %}
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a class="title is-4" href="{{ post.url | prepend: site.baseurl }}">{{ 
                post.title }}</a>
            </div>
          </div>

          <div class="content">
            {% if post.description %}
            {{ post.description | strip_html | strip_newlines | truncate: 250 }}
            {% else %}
            {{ post.content | strip_html | strip_newlines | truncate: 250 }}
            {% endif %}
            <br>
            <span class="tag">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  </div>
</section>



<section class="section">
  <div class="container">
    {% if paginator.total_pages > 1 %}<!-- Pagination links -->
    <nav class="pagination" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        
        {% if paginator.previous_page %}<li><a class="pagination-link" 
            href="/blog/{% if paginator.previous_page > 1 %}{{ 
            paginator.previous_page }}{% else %}{% endif %}" aria-label="Go to 
            page {{ paginator.previous_page }}">{{ paginator.previous_page 
            }}</a></li>{% endif %}
          <p class="pagination-link is-current" aria-label="Page {{ 
            paginator.page }}" aria-current="page">{{ paginator.page 
            }}</p>
          {% if paginator.next_page %} <li><a class="pagination-link" 
              href="/blog/{{ paginator.next_page }}" aria-label="Go to page {{ 
              paginator.next_page }}" aria-current="page">{{ 
              paginator.next_page }}</a></li>{% endif %}
      </ul>
      {% if paginator.previous_page %} <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous is-right">← Newer Posts</a> {% endif %}
      {% if paginator.next_page %} <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-next is-right">Older Posts →</a>{% endif %}
    </nav>
    {% endif %}
  </div>
</section>
