---
layout: default
title: Blog

---

<section class="hero is-primary is-small">
  <div class="hero-body is-centered">
    <div class="container">
      <h1 class="title">
        My own articles
      </h1>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul>
          <li><a href="/blog/">Articles</a></li>
          <li><a href="/blog/tags">Categories</a></li>
          <li><a href="/blog/external">External articles</a></li>
          <li><a href="/feed.xml"><i class="fas fa-rss"></i>&nbsp;Atom</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>


<section class="section">
  <div class="container">
    
  <div class="columns is-multiline">
    {% for post in paginator.posts  %}
    <div class="column is-one-third">
      <div class="card">
        {% if post.image %}
        <div class="card-image">
          <a href="{{ post.url }}">
          <figure class="image">
            <amp-img src="{{ post.image.path }}" alt="{{ post.title }}" height="200" width="300" layout="responsive"></amp-img>
          </figure></a>
        </div>
        {% endif %}
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a class="title is-4" href="{{ post.url | prepend: site.baseurl }}">{{ 
                post.title }}</a>
            </div>
          </div>

          <div class="content">
            <p>
            {% if post.description %}
            {{ post.description | strip_html | strip_newlines | truncate: 250 }}
            {% else %}
            {{ post.content | strip_html | strip_newlines | truncate: 250 }}
            {% endif %}
            </p>
            <span class="tag">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  </div>
</section>



<section class="section">
  <div class="container">
    {% if paginator.total_pages > 1 %}<!-- Pagination links -->
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous">← Previous page</a>{% endif %}
      {% if paginator.next_page %} <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-next">Next page →</a>{% endif %}
      <ul class="pagination-list">
        {% if paginator.page != 1 %}<li><a class="pagination-link" href="/blog/" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>{% endif %}
        {% if paginator.previous_page and paginator.previous_page != 1 %}<li><a class="pagination-link" href="{{ paginator.previous_page_path }}" aria-label="Goto page {{ paginator.previous_page }}">{{ paginator.previous_page }}</a></li>{% endif %}
        <li><a class="pagination-link is-current" aria-label="Page {{ paginator.page }}" aria-current="page">{{ paginator.page }}</a></li>
        {% if paginator.next_page and paginator.next_page != paginator.total_pages %}<li><a class="pagination-link" href="{{ paginator.next_page_path }}" aria-label="Goto page {{ paginator.next_page }}">{{ paginator.next_page }}</a></li>{% endif %}
        {% if paginator.page != paginator.total_pages %}<li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" href="/blog/{{ paginator.total_pages }}" aria-label="Goto page {{ paginator.total_pages }}">{{ paginator.total_pages }}</a></li>{% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
</section>
