---
layout: default
title: Cristian's Blog
permalink: /blog
redirect_from:
  - /blog/
  - /blog/external
description: I like to write about artificial intelligence, data science, computer science, web development and technology in general.
mustache: true

---

<section class="hero is-primary is-small">
  <div class="hero-body is-centered">
    <div class="container">
      <div class="columns is-mobile is-horizontal-center is-multiline">
        <div class="column is-3-desktop is-12-mobile has-text-centered">
          <h1 class="title">
            My own articles
          </h1>
        </div>
        <div class="column is-4-desktop is-12-mobile has-text-centered">
          <h2 class="subtitle">
            {{ page.description }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="top-blog-page">
  <div class="container">

    <div class="columns is-multiline ">

      <div class="column is-3-desktop is-12-mobile">
        <aside class="menu  is-hidden-mobile">
          <ul class="menu-list">
            <p class="menu-label">
              Categories
            </p>
            <li>
              <ul>
                {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                <li>
                  <a on="tap:AMP.setState({filteredArticles: allArticles.filter(a => a.categories[0].toLowerCase() == '{{ category_name }}' )})">{{ category_name | capitalize }} ({{ category[1].size }})</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            <p class="menu-label">
              Tags
            </p>
            <li>
              <ul>
                {% for tag in site.tags %}
                <li><a on="tap:AMP.setState({filteredArticles: allArticles.filter(a => a.tags.join(' ').toLowerCase().indexOf('{{ tag | first }}') != -1 )})">{{ tag | first }} ({{ tag[1].size }})</a></li>{% unless forloop.last %}{% endunless %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </aside>

      </div>
      <div class="column is-9-desktop is-12-mobile">
        <amp-state id="allArticles"
                   src="/api/github-pages.json"></amp-state>

                 <amp-list height="500"
                           [height]="(400) * filteredArticles.length"
                           layout="fixed-height"
                           items="."
                           src="/api/github-pages.json"
                           [src]="filteredArticles"
                           binding="no">
                   <div placeholder>Loading ...</div>
                   <div fallback>Failed to load data.</div>
                   <template type="amp-mustache">
                     {% raw %}
                     <div class="box">
                       <div class="columns is-multiline">
                         <div class="column is-3-desktop is-12-mobile">
                           <a class="image" href="{{#link}}{{ link }}{{/link}}{{^link}}{{ url }}{{/link}}" data-proofer-ignore>
                             <amp-img 
                               width="300" height="200" 
                               src="{{ thumb }}" 
                               srcset="{{ thumb }} 400w, {{ image }} 900w"
                               alt="{{ title }}" layout="responsive"></amp-img>
                           </a>
                         </div>
                         <div class="column is-9-desktop is-12-mobile">
                           <div class="content">
                             <a class="title is-6" href="{{#link}}{{ link }}{{/link}}{{^link}}{{ url }}{{/link}}" data-proofer-ignore>{{ title }}</a>
                             <p class="is-size-7">
                               {{ description }}
                             </p>
                             <div class="tags has-addons">
                               <span class="tag"><i class="fas fa-calendar-alt"></i>&nbsp;{{ date }}</span>
                               {{#tags}}<a class="tag" href="/blog/tags#{{.}}" data-proofer-ignore> {{.}}</a>{{/tags}}
                               {{#categories}}<a class="tag is-link" href="/blog/categories#{{.}}" data-proofer-ignore> {{.}}</a>{{/categories}}
                               {{#source}}
                               <span class="tag is-danger"><i class="fas fa-external-link-alt"></i>&nbsp; {{ source }}</span>
                               {{/source}}
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                     {% endraw %}
                   </template>
                 </amp-list>

      </div>
    </div>

    <div class="box  search-bar" id="search-bar" >
      <div class="columns is-mobile">
        <div class="column">
          <input class="input" type="text" on="input-throttled:AMP.setState({filteredArticles: allArticles.filter(a => ((a.title.toLowerCase().indexOf(event.value.toLowerCase()) != -1) || (a.description.toLowerCase().indexOf(event.value.toLowerCase()) != -1) || (a.tags.join(' ').toLowerCase().indexOf(event.value.toLowerCase()) != -1) || (a.categories.join(' ').toLowerCase().indexOf(event.value.toLowerCase()) != -1) ) ), inputValue: event.value }), top-blog-page.scrollTo(duration=200)" placeholder="🔍 Search" [value]="inputValue">
        </div>
        <div class="column is-narrow">
          <button class="button is-danger" on="tap:AMP.setState({inputValue: '', filteredArticles: allArticles}),top-blog-page.scrollTo(duration=200)">
            X
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
