<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}
	
	<body>
		<div class="container">
			
			{% include header.html %}

			<style>
img {
	float: left;
	margin: 0px 50px 0px 0px;
}
.page-content {
	word-wrap: break-word;
	width: 800px;
	margin: 0px 300px 0px 300px;
}
			</style>

			<div class="page-content" margin>
				<img src="images/resize_photo.jpg"  />

				Versatile and solution-focused data scientist
				with progressive experience in materials
				modeling for major international
				research centers. Depth experience in data
				analysis, materials, corrosion and simulation
				tools.
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
			{{ content }}
			
			{% include footer.html %}
		
		</div> <!-- /container -->
	
	
		{% include scripts.html %}
	
	</body>
