<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}
	
	<body>
		<div class="container">
			
			{% include header.html %}

			<center>	<img src="images/resize_photo.jpg"  /> </center>
			<div class="page-content" >

				<center>Versatile and solution-focused data scientist
				with progressive experience in materials
				modeling for major international
				research centers. Depth experience in data
				analysis, materials, corrosion and simulation
				tools.
				</center>
			</div>
			{{ content }}
			
			{% include footer.html %}
		
		</div> <!-- /container -->
	
	
		{% include scripts.html %}
	
	</body>
