---
layout: default
---

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">{{ page.title }}</h2>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"> 
        📅 {{ page.date | date: "%b %-d, %Y" }}</time>
      ⏳ {% include read_time.html %} read time 
    </p>
    <br>
    <div class="tags is-centered">
    {% for cat in page.categories %}
    <a class="tag" href="/blog/tags#{{ cat }}" target="_blank"> {{ cat }}</a>
    {% endfor %}
    </div>
  </div>
</section>


<section class="section is-small">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          {{ content }}
        </div>

        <section class="section">
          <div class="container">
            <nav class="pagination" role="navigation" aria-label="pagination">
              {% if page.previous.url %} <a href="{{ page.previous.url | prepend: site.baseurl }}" class="pagination-previous is-left">← Previous post</a> {% endif %}
              {% if page.next.url %} <a href="{{ page.next.url | prepend: site.baseurl }}" class="pagination-next is-right">Next post →</a>{% endif %}
            </nav>
          </div>
        </section>

        <section class="section is-small">
          <div class="container is-center">
            {% include amp-social-share.html %}
            {% if site.disqus.shortname %}
            {% include disqus_comments.html %}
            {% endif %}
          </div>
        </section>

      </div>
    </div>
  </div>
</section>

